<h6>My Vehicles</h6>
<p>Here are your vehicle's information</p>


 <table class = "striped bordered">
         <thead>
            <tr>
               <th>Vehicles</th>
               <th>Maintenance Done</th>
               <th>Mileage</th>
               <th>Date</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>2010 Toyota Corolla</td>
               <td>Changed Oil</td>
               <td>100,000 miles</td>
               <td>6/25/2020</td>
            </tr>
            <tr>
               <td>2015 Dodge Ram</td>
               <td>Replaced front rotors and rotated Tires </td>
               <td>85,000 miles</td>
               <td>6/1/2020</td>
            </tr>
            <tr>
               <td>BMW 6 Series</td>
               <td>Tune Up</td>
               <td>65,000 miles</td>
               <td>6/15/2020</td>
            </tr>
         </tbody>
      </table>